html {
    margin-bottom: 0px;
}

body {
    margin-left: 10%;
    margin-right: 20%;
    padding-left: 5%;
    padding-right: 5%;
    /* padding-top: 5%; */
}

li{
    margin-bottom: 5px;
}


/* sidebar / content stuff */

#wrapper {
    margin-left: 100px;
}

#content {
    float: right;
    width: 100%;
}

#sidebar {
    float: left;
    width: 100px;
    height: 100%;
    margin-left: -105px;
}

#sidebar-button{}

#ltr-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#halfsies-box{
    margin-left: 50%;
}

#half-right{
    float: right;
    width: 95%;
}

#half-left{
    float: left;
    width: 95%;
    margin-left: -100%;
}

#cleared {
    clear: both;
}