html, body { margin-left: 10%; margin-right: 10%; padding: 0; } 

#div1 {
	display: inline-block;
}

#div2 {
	display: inline-block;
}

H1{
	color: #FFFFFF;
}

H2{
	color: #FFFFFF;
}

H3{
	color: #FFFFFF;
}

p{
	color: #BBBBBB;
}

ol {
	color: #BBBBBB;
}

li {
	margin-top: 10px;
}

ul{
	color: #BBBBBB;
}

a{
	color: #FFFFFF;
	text-decoration: none;
}

canvas{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0px;
	display: inline-block;
}

.area{
	width: 400px;
}

.panel{
	padding: 5px;
	margin: 10px;
	background-color: #282828;
	border-radius: 10px;
	color: #FFFFFF;
	width: 400px;
}

.menubar{
	margin:0px;
	padding:0px;
	border:0px;
	background-color: #282828;
	color: #FFFFFF;
	font-size: 30pt;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mbutt{
	padding: 5px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 6px;
	margin-bottom: 6px;
	background-color: #282828;
	color: #FFFFFF;
	display: inline-block;
	border-radius: 10px;
}

.mbutt:hover{
	background-color: #555555;
	color: #FFFFFF;
	display: inline-block
}

body{
	color:#BBBBBB;
	background-color: #2f2f2f;
	background-image: url("images/bg.png");
	background-repeat: repeat;
}
