H1{
	color: #FFFFFF;
}

H2{
	color: #FFFFFF;
}

H3{
	color: #FFFFFF;
}

p{
	color: #BBBBBB;
}

ol {
	color: #BBBBBB;
}

ul{
	color: #BBBBBB;
}

a{
	color: #888888;
}

body{
	color:#BBBBBB;
	background-color: #2f2f2f;
}
